%p
  In Class01 we meet each other and get acquainted with the PCs in the lab.
  If you bring your own laptop, that should work better than the lab computers.
  Initially we work on install of VirtualBox and a copy of  www.spy611.com with an eye on learning about the topics listed below:
  %ul
    %li Histograms
    %li Scatter Plots
    %li Correlation
    %li Time Series Plots
    %li Time Series Calculations
    %li Linear Regression
    %li Demo App: www.spy611.com
