
<div class="container-fluid">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <h2>About</h2>
      
<p>
In early 2016, Dan Bikle introduced 'Time Series Data Science' as a hands-on class to software professionals in Silicon Valley. The class is available via Santa Clara Adult Education Department.  
</p>

<p>
This website contains educational content related to that class.  Dan wants the content in this site to be so comprehensive that you can learn much Time Series Data Science solely from this site.  One of the main ideas behind the class is that you should write software to implement ideas presented in the class. </p>
 
<p>
Dan believes that when you write software to implement an idea, then your mind gains a deeper understanding of the idea.  For example, when Dan teaches you some ideas behind histograms, he asks you to write software to create histograms from observations of stock market data.  At the end of that exercise you should know what a histogram can be used for.  
</p>

<p>
Also, your coding skills will be stronger.
</p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; tsds4.us 1999-3000</p>
  </footer>
</div> <!-- /container -->

