.container-fluid
  .row
    .col-md-12
      %h2 Blog
      %hr/
      %p 2016-05-12
      %p Dan Bikle bikle101@gmail.com
      %p I learn by doing.
      %p To learn music, I get a guitar and try to play it.
      %p To learn French, I fly to Paris with a phrase book and learn French from Parisians at bus-stops while I explore Paris on public transportation.
      %p To learn software, I open a text editor and type syntax into it. Then I 'run' that syntax in my head.  Next, I find a tutor to help me run that syntax on a laptop.
      %p The way to start learning Time Series Data Science, is to write software to predict the stock market.  Time Series Data Science is a huge topic but the stock market is a good place to start.
  %hr/
  %footer
    %p &copy; tsds4.us 1999-3000
