%h2 Class04 Lab Answer:
%h2 Write a script which demonstrates that scikit-learn is installed.

%p The script below will fail if scikit-learn is not installed:

.syntax
  %pre
    =render 'class04sklearn_is_installed1'
