%h2 Class07 Lab Answer:
%h2 Use a 'Heat-Map' to show pctlead dependence on features.

%p I created and ran a script which looks like this:
.syntax
  %pre
    =render 'class07bk21'

%p It gave me a Heat-Map:

%img(src='/class07/bk22.png')

%a(href='/class07/hm15.html') hm15.html

%p
  %a(href='class07#bokeh')
    Class07 Lab
