%h1 Class02
%h2 Topics:
%ul
  %li AWS
  %li Linux
  %li Git
  %li Heroku

%h2 Questions:
%ul
  %li Should I assume lab PC will log my keystrokes?
  %li Should I use lab PC to access my e-mail?
  %li Should I use lab PC to submit a credit card number?
  %li Should I use lab PC to access my amazon account?
  %li How can I safely connect to Amazon and e-mail from lab?
  %li Which parts of AWS interest us the most?
  %li How would you introduce EC2 to a new person?
  %li What is a PEM file?
  %li How do I get a PEM file?
  %li Once I have a PEM file where to store it?
  %li Once I have a PEM file how to use it?
  %li Is it possible to deploy a copy www.spy611.com to EC2?
  %li What is S3?
  %li How to get started with S3?
  %li Why use S3?
  %li Can I use a PEM file to access S3?
  %li Linux vs Mac vs Windows, what is the data scientist opinion?
  %li How to get started with Linux?
  %li Which flavor of Linux should I learn first?
  %li How is AWS Linux different than Laptop Linux?
  %li How to get help with Linux?
  %li What is Git?
  %li Why use git?
  %li What are the top 4 git use-cases?
  %li What is Heroku?
  %li Why use Heroku?
  %li
    %a(href='/cclasses/class02answers') Some Answers

%h2#lab Lab:
%ul
  %li Install Virtualbox to your laptop
  %li
    %a(href='/cclasses/class02vbox10') Answer

  %li Install this ova file into your Virtualbox:
  %li
    %a(href='https://drive.google.com/file/d/0Bx3iDDAtxxI4TEZwSkZRYVhpYm8' target='x')
      ub16may2b.ova (Ubuntu 16.04 VirtualBox Instance 8.2 GB)
  %li
    %a(href='/cclasses/class02vbox11') Answer
  
  %li
    What is an ova file?
    %ul
      %li
        An ova file contains an image of a virtualbox instance.
      %li
        I can use an ova file to copy an instance from laptop1 to laptop2.
  %li
    How to create an ova file?
    %ul
      %li In the virtualbox-GUI, I click File in upper left hand corner.
      %li Then I click Export Appliance:
      %li
        %img(src='/class02/class02vbox11a.png')
  
  %li Learn about Virtualbox network settings
  %li
    %a(href='/cclasses/class02vbox12') Answer

  %li Create an AWS account
  %li
    %a(href='/cclasses/class02aws1') Answer
  %li Create EC2 instance
  %li
    %a(href='/cclasses/class02ec2a') Answer
  %li Learn how to edit files on EC2
  %li
    %a(href='/cclasses/class02ec2ed') Answer
  %li Learn how to edit files on EC2 from Emacs on Virtualbox:
  %li
    %a(href='https://www.google.com/search?q=with+emacs+how+to+edit+remote+files%3F+site%3Ayoutube.com' target='x')
      https://www.google.com/search?q=with+emacs+how+to+edit+remote+files?+site:youtube.com

  %li Learn how to create a bucket on S3
  %li Learn how to copy a file from Virtualbox into S3
  %li Learn how to make a file in S3 public-readable
  %li
    %a(href='https://www.google.com/search?q=aws+s3+tutorial+site:youtube.com' target='x')
      https://www.google.com/search?q=aws+s3+tutorial+site:youtube.com
  %li Learn what to put in ~/.gitconfig
  %li
    %a(href='/cclasses/class02git11') Answer
  %li Learn how to create a git repo
  %li
    %a(href='/cclasses/class02git10') Answer
  %li Learn how to place a file in a git repo
  %li
    %a(href='/cclasses/class02git12') Answer
  %li Learn how to clone a git repo
  %li
    %a(href='/cclasses/class02git13') Answer
  %li Learn how to push a git repo to github.com
  %li
    %a(href='/cclasses/class02git14') Answer
  %li Learn how to fork a git repo on github.com
  %li Learn how to create a branch in a git repo
  %li Learn how to navigate branches in a git repo
  %li Learn how to quickly recover from broken git repo
  %li Learn how to submit a pull request on a git repo
  %li Create an account at heroku.com
  %li Install heroku-client
  %li Create empty app on heroku.com
  %li Git-clone www.spy611.com
  %li git-push your clone to heroku
  %li Create a simple node.js app on your laptop
  %li Add that app to a new git repo
  %li git push that repo to a new empty app on heroku.com
