%h2 Class02 Lab Answer:
%h2 Create EC2 instance

%p This is an easy lab.

%p I click this link:
%p
  %a(href='https://us-west-2.console.aws.amazon.com/ec2/v2/home?region=us-west-2' target='x')
    https://us-west-2.console.aws.amazon.com/ec2/v2/home?region=us-west-2
%p AWS might ask me to login.
%p I should see something like this:
%img(src='/class02/class02aws1b.png')

%p Next, I click the blue-Launch-Instance button.

%p I should see something like this:
%img(src='/class02/class02ec2b.png')


