%h2 Class05 Lab Answer:
%h2 Use aggregate() to demonstrate groupby-sum on a DataFrame

%p I wrote a script to do this lab:

%p
.syntax
  %pre
    =render 'class05gb2'

%p I ran it.
%p I saw this:
.syntax
  %pre
    =render 'class05gb3'

%img(src='/class05/rmoy.png')

%p The above output tells me that during the last 30 years, December was the best month to buy the S&P 500.

%p After December, April and then March were good months.

%p And if I use Day-of-Week instead of Month-of-Year as a feature, the best day to buy was Monday and then Tuesday (at market close).

%p
  %a(href='class05#lab')
    Class05 Lab
