%h2 Class07 Lab Answer:
%h2 Run the demo.

%p I created a file which looks like this:
.syntax
  %pre
    =render 'class07bk12'

%p I ran it and saw this:

%img(src='/class07/bk12.png')

%p
  %a(href='class07#bokeh')
    Class07 Lab
