%h2 Class03 Lab Answer:
%h2 Write a script which loads allpredictions.csv into a Sqlite table

%p With editor, I start by creating the sql script listed below:

.syntax
  %pre
    =render 'class03lite11'

%p Next I should type the commands below into a shell prompt.
%p Why? I want to write a list of all the column names to the end of the sql script:

.syntax
  %pre
    %code.bash
      cd /tmp/
      curl -L www.spy611.com/csv/allpredictions.csv > allpredictions.csv
      head -1 allpredictions.csv |\
      sed '1s/^/(/'              |\
      sed '1s/,/ string,/g'      |\
      sed '1s/$/ string);/' > /tmp/cols.txt
      cat /tmp/cols.txt
      cat /tmp/cols.txt >> /tmp/sqlite_csv.sql

%p With editor, I add more text to the end of /tmp/sqlite_csv.sql

.syntax
  %pre
    =render 'class03lite12'

%p To help sqlite3, with sed, I remove column names from the CSV file:
.syntax
  %pre
    %code.bash cat /tmp/allpredictions.csv | sed 1d > /tmp/allpredictions_nh.csv

%p Then I should run my sql script:
.syntax
  %pre
    %code.bash sqlite3 -init /tmp/sqlite_csv.sql sqlite_csv.db


%p I followed the above steps on my laptop and I saw this:

.syntax
  %pre
    =render 'class03lite13'

%p I translate the above output into English:

%ul
  %li allpredictions.csv has 9016 predictions
  %li The minimum 1-day gain (the pctlead column) was -20.467%
  %li The average 1-day gain was 0.037%
  %li The maximum 1-day gain (the pctlead column) was +11.58%
  %li If pctlag1 was strongly negative, average 1-day gain was 0.095% which is 2.6 times larger than average.
  %li If pctlag1 was strongly positive, average 1-day gain was 0.063% which is 1.7 times larger than average.
  %li The first trading day of May 2016 was 2016-05-02 with a close price of 2081.43
  %li The last  trading day of May 2016 was 2016-05-31 with a close price of 2096.95
  %li For May 2016 ...
  %li The effectiveness of Long-Only was 0.901
  %li The effectiveness of Logistic-Regression was 2.459 
  %li The effectiveness of Naive-Bayes was -0.243
  %li Logistic-Regression was effective in May 2016.

%p
  %a(href='class03#lab')
    Class03 Lab
