%h1 Class05
%h2 Topics:
%ul
  %li The R Language

%h2 Questions:
%ul
  %li How to install R on Ubuntu?
  %li How to install an R package?
  %li With R, how to get CSV data from URL?
  %li In R, how to slice columns and rows in a list?
  %li Is a list in R similar to a list in Python?
  %li In R, how to train   using Linear Regression?
  %li In R, how to predict using Linear Regression?
  %li How does R Linear Regression compare to Python Linear Regression?
  %li In R, how to plot a time series?
  %li In R, how to train   using Logistic Regression?
  %li In R, how to predict using Logistic Regression?
  %li How does R Logistic Regression compare to Python Logistic Regression?
  %li In R, what is a Data Frame?
  %li Is a Data Frame in R similar to a DataFrame in Python?
  %li In R, how to create a Data Frame from a CSV URL?
  %li How to slice rows from a Data Frame?
  %li How to slice columns from a Data Frame?
  %li How to slice rows and columns from a Data Frame?
  %li How to apply a predicate to a Data Frame?
  
%h2#lab Lab:
%ul
  %li Install R on Ubuntu (or your laptop).
  %li
    %a(href='/cclasses/class05ins1') Answer
  %li Install package ISLR from CRAN.
  %li
    %a(href='/cclasses/class05ins2') Answer
  %li Copy http://www.spy611.com/csv/allpredictions.csv into a list.
  %li
    %a(href='/cclasses/class05csv1') Answer
  %li Copy some rows and some columns from allpredictions.csv into a list.
  %li
    %a(href='/cclasses/class05csv2') Answer
  %li Use Linear Regression to train and predict from allpredictions.csv
  %li
    %a(href='/cclasses/class05lm1') Answer
  %li Compare R Linear Regression to Python Linear Regression.
  %li
    %a(href='/cclasses/class05cmp') Answer
  %li Plot http://www.spy611.com/csv/allpredictions.csv
  %li
    %a(href='/cclasses/class05plot1') Answer
  %li Use Logistic Regression to train and predict from allpredictions.csv
  %li
    %a(href='/cclasses/class05logr1') Answer
  %li Compare R Logistic Regression to Python Logistic Regression.
  %li
    %a(href='/cclasses/class05cmpr') Answer
  %li Build a Data Frame from CSV at a URL.
  %li
    %a(href='/cclasses/class05df1') Answer
  %li Slice rows and columns from a Data Frame.
  %li
    %a(href='/cclasses/class05slice_df1') Answer
  %li Apply a predicate to a Data Frame.
  %li
    %a(href='/cclasses/class05pred1') Answer
  %li Use aggregate() to demonstrate groupby-sum on a DataFrame
  %li
    %a(href='/cclasses/class05gb1') Answer
