%h2 Class08 Lab Answer:
%h2 For 2016, report on aggregated Effectiveness

%p When I aggregate Effectiveness, I want to aggregate the Effectiveness of Long-Only predictions along with the Logistic-Regression predictions.

%p After I aggregate I want to answer an obvious question:

%p Is Logistic-Regression better than Long-Only?

.syntax
  %pre
    =render 'class08ae1'

%p
  %a(href='class08#lab')
    Class08 Lab
