%h2 Class05 Lab Answer:
%h2 Copy some rows and some columns from allpredictions.csv into a list

%p I did this lab from the command-line.
%p This is an easy lab.

%p I started the R command-line and typed three lines of syntax:
.syntax
  %pre
    =render 'class05csv2a'
%p
  %a(href='class05#lab')
    Class05 Lab
