%h2 Class08 Lab Answer:
%h2 For 2016, report on aggregated Accuracy

%p When I aggregate Accuracy, I want to aggregate the Accuracy of Long-Only predictions along with the Logistic-Regression predictions.

%p The classic way to aggregate is to compute True-Predictions-Count / All-Predictions-Count.

%p After I aggregate I want to answer an obvious question:

%p Is Logistic-Regression better than Long-Only?

.syntax
  %pre
    =render 'class08aa1'

%p
  %a(href='class08#lab')
    Class08 Lab
