%h2 Class09 Lab Answer:
%h2 Install Django

%p It is easier to install Django than Rails.

%p Django is baked into Anaconda.

%p After I install Anaconda, I have Django:

.syntax
  %pre
    %code.bash
      cd ~
      rm -rf anaconda3 Anaconda3-4.1.1-Linux-x86_64.sh
      wget http://repo.continuum.io/archive/Anaconda3-4.1.1-Linux-x86_64.sh
      bash Anaconda3-4.1.1-Linux-x86_64.sh
      mv ~/anaconda3/bin/curl ~/anaconda3/bin/curl_ana
      echo 'export PATH=${HOME}/anaconda3/bin:${PATH}' >> ~/.bashrc
      bash

%p I ran the above shell commands on my laptop.
%p Now I have Django.

%p
  %a(href='class09#lab')
    Class09 Lab
