%h2 Class07 Lab Answer:
%h2 Generate pctlead, pctlag1, Day-of-Week, Month-of-Year features from GSPC data

%p I created and ran a script which looks like this:
.syntax
  %pre
    =render 'class07bk14'

%p It gave me a CSV file with pctlead, pctlag1, Day-of-Week, Month-of-Year features.

%p
  %a(href='class07#bokeh')
    Class07 Lab
