%h2 Class07 Lab Answer:
%h2 Scatter-plot pctlead vs Month for a specific year

%p I created and ran a script which looks like this:
.syntax
  %pre
    =render 'class07bk16'

%p It gave me a scatter-plot:

%img(src='/class07/bk17.png')

%p
  %a(href='class07#bokeh')
    Class07 Lab
