%h2 Class08 Lab Answer:
%h2 Create DataFrame column named longonly_accuracy and fill it

%p The previous lab makes this lab easy.

%p Also the logic of longonly_accuracy is simple.

%p If pctlead >  0.0 then longonly_accuracy is True  Positive.
%p If pctlead <= 0.0 then longonly_accuracy is False Positive.

.syntax
  %pre
    =render 'class08lo2'

%p
  %a(href='class08#lab')
    Class08 Lab
