%h1 Class03
%h2 Find syntax in spy611.com which created allpredictions.csv

%p allpredictions.csv is actually a softlink pointing to allrgb.csv

%p
  %a(href='https://github.com/danbikle/spy611v2/tree/master/public/csv' target='x')
    https://github.com/danbikle/spy611v2/tree/master/public/csv

%p allrgb.csv is created by night.bash right before it finishes:

%p
  %a(href='https://github.com/danbikle/spy611v2/blob/master/script/night.bash#L52' target='x')
    https://github.com/danbikle/spy611v2/blob/master/script/night.bash#L52

%p All of the data which flows into allrgb.csv is created inside train_test.py near the end:

%p
  %a(href='https://github.com/danbikle/spy611v2/blob/master/script/train_test.py#L205' target='x')
    https://github.com/danbikle/spy611v2/blob/master/script/train_test.py#L205
  
%p
  %a(href='class03#lab')
    Class03 Lab
