%h1 Class03
%h2 Topics:
%ul
  %li Vectors
  %li NumPy
  %li Pandas
  %li SQL

%h2 Questions:
%ul
  %li What is a Vector?
  %li What is NumPy?
  %li What is Pandas?
  %li Why use SQL?

%h2 Lab:
%ul
  %li Under Construction
