%h2 Class08 Lab Answer:
%h2 Create DataFrame column named effectiveness and fill it

%p The previous lab makes this lab easy.

%p Effectiveness of a prediction is easy to compute.

%p I get the absolute-value of Effectiveness from absolute-value of pctlead.

%p If the prediction is True, Effectiveness is positive.

%p If the prediction is False, Effectiveness is negative.

.syntax
  %pre
    =render 'class08df9'

%p
  %a(href='class08#lab')
    Class08 Lab
