%h2 Class03 Homework Questions

%ul
  %li
    What does it mean to 'scale' a vector?
  %li
    What does it mean to 'shape' a NumPy Array?
  %li
    Why might I want to 'shape' a NumPy Array?
  %li
    How to use NumPy to find median of this list: [0,1,7,3.3,-1,11.8] ?
  %li
    Why might I want to find median of a list?
  %li
    How to find the correlation of two lists?
  %li
    Why might I want to find correlation of two lists?
  %li
    In Math, what is the inverse of a matrix?
  %li
    Why might I want to find the inverse of a matrix?
  %li
    What is the pseudo-inverse of a matrix?
  %li
    Why might I want to find the pseudo-inverse of a matrix?
  %li
    In Pandas how to add a Series to a DataFrame?
  %li
    Why might I want to add a Series to a DataFrame?
  %li
    In Pandas how to get a Series from a DataFrame?
  %li
    Why might I want to get a Series from a DataFrame?
  %li
    In Pandas how to get rows 33 through 44 of a DataFrame?
  %li
    How to transform a Series of numbers into a Series of Booleans?
  %li
    Why might I want a Series of Booleans?
  %li
    How is SQL similar to Pandas?
  %li
    How is SQL different Pandas?
  %li
    In Machine Learning, how is Linear Regression different than Logistic Regression?
  %li
    Why might I use Logistic Regression instead of Linear Regression?
  %li
    How to describe Linear Regression with a diagram?
  %li
    In Linear Regression, can X be one dimensional?
  %li
    In Linear Regression, can X be ten dimensional?
  %li
    In Linear Regression, can Y be one dimensional?
  %li
    In Linear Regression, can Y be ten dimensional?
  %li
    What should be the first line of a Bash script?
  %li
    If I have 10 predictions and 7 are True, what is their accuracy?
  %li
    In Python, why might I use the 'requests' package?
  %li
    In Pandas, can pd.read_csv() get a file from a website?
  %li
    What is a scatter plot?
  %li
    Why might I use a scatter plot?
  %li
    Why might I load a CSV file into SQLite?
  %li
    Why might I load a CSV file into Postgres?
  %li
    Which is better SQLite or Postgres? Why?
  %li
    When I sum GSPC-pctlead Over 30 Years and groupby Month, what kind of ML feature does that expose?
