%h2 Class01 Homework Questions

%ul
  %li
    What is a Time Series?
    
  %li
    How to create a histogram from the weight of 900 airplanes?
    
  %li
    How to display the above histogram as a Time Series?
    
  %li
    How to create a scatter plot of car accidents and car color?
    
  %li
    How to display the above plot as a Time Series?
    
  %li
    How to find correlation between temperature and bike rentals in NYC?
    
  %li
    How to display the above calculation as a Time Series?
    
  %li
    How to do Linear Regression on temperature and bike rentals in NYC?
    
  %li
    How to do Time Series Calculations on AAPL stock?
    
  %li
    Why is heroku.com useful for a Data Scientist?
    
  %li
    Why is Logistic Regression called Logistic Regression?
    
  %li
    What is Bayes Theorem?
    
  %li
    How to describe Bayes Theorem using car insurance?
    
  %li
    If I give you 10 predictions, how to calculate their accuracy?
    
  %li
    How is a Pandas-Series different than a Pandas-DataFrame?
    
  %li
    Why is Anaconda Python more useful than plain Python?
    
  %li
    How is positive correlation different than negative correlation?
    
  %li
    Is positive correlation more predictive than negative correlation?
    
  %li
    In Python, what is the datetime data type?
    
  %li
    Do I need to use the datetime data type to plot a time series?
    
  %li
    How to install pandas-datareader into my copy of Anaconda Python?
    
  %li
    How to get the names of columns of a Pandas DataFrame?
    
  %li
    How to calculate moving-average of a time series of prices?
    
  %li
    What is a .ova file?
    
  %li
    What is VirtualBox?
    
  %li
    Why is VirtualBox useful?
    
  %li
    What is Git?
    
  %li
    Why is Git useful?
    
  %li
    Describe your 6 favorite Git commands?
    
  %li
    How to copy code from github.com into heroku.com using Git?
