%h2 Answers:
%ul
  %li What are Histograms?
  %li A histogram converts one dimensional data into a two dimensional visualization which displays 'frequency'.
  %li For example I could convert a list of SAT scores into a histogram.
  %li Perhaps a next step would be to compare my SAT score to the histogram:
  %li
    %a(href='https://www.google.com/search?q=histogram+of+sat+scores&tbm=isch' target='x')
      https://www.google.com/search?q=histogram+of+sat+scores&tbm=isch
  %li After that comparison, I might understand how frequent my score is compared to other's scores.      

  %li
    %hr/

  %li What are Scatter Plots?
  %li
    A Scatter Plot is a two dimensional visualization which I use to tell me the relationship between two variables which make up observations.
  %li Generally a Scatter Plot has an X-Axis and Y-Axis.
  %li My hope is that Y depends on X.
  %li I often use a scatter plot to place day1-gain on X-Axis and day2-gain on Y-Axis.
  %li If day2-gain depends on day1-gain, I might be able to see it in the scatter plot.



  %li
    %hr/