%h2 Class05 Lab Answer:
%h2 Apply a predicate to a Data Frame

%p I wrote a script to do this lab:

%p
.syntax
  %pre
    =render 'class05pred2'

%p I ran it.
%p I saw this:
.syntax
  %pre
    =render 'class05pred3'
    
%p
  %a(href='class05#lab')
    Class05 Lab
