%h2 Class04 Lab Answer:
%h2 Write a script which demonstrates that scikit-learn is installed.

%p I did this lab by using Google to look for an example of scikit-learn.

%p Google sent me here:

%p
  %a(href='http://scikit-learn.org/stable/auto_examples/classification/plot_classifier_comparison.html' target='x')
    http://scikit-learn.org/stable/auto_examples/classification/plot_classifier_comparison.html
  

%p The script below will fail if scikit-learn is not installed:

.syntax
  %pre
    =render 'class04sklearn_is_installed1'

%p I ran the above script and saw this:

.syntax
  %pre
    =render 'class04sklearn_is_installed2'

%p Then this visualization appeared on my screen:

%img(src='/class04/sklearn_is_installed.png')
