%h2 Class08 Lab Answer:
%h2 Create DataFrame column named longonly_effectiveness and fill it

%p The previous lab makes this lab easy.

%p Also the logic of longonly_effectiveness is simple.

%p If pctlead >  0.0 then longonly_effectiveness is pctlead.
%p If pctlead <= 0.0 then longonly_effectiveness is pctlead.

%p So, longonly_effectiveness is the same thing as pctlead.

.syntax
  %pre
    =render 'class08lo5'

%p
  %a(href='class08#lab')
    Class08 Lab
