%h2 Class07 Lab Answer:
%h2 Start http-server

%p This was easy.

.syntax
  %pre
    %code.bash
      cd ~/d1d2
      ll node_modules/.bin/
      node_modules/.bin/http-server 

%p
  %a(href='class07#lab')
    Class07 Lab
