%h2 Class06 Lab Answer:
%h2 Enhance cnj15.html so it copies mynumber into urnumber

%p I used my editor to do this step.

.syntax
  %pre
    =render 'class06cnj15d'

%p I used the debugger to see mynumber copied into urnumber:

%img(src='/class06/cnj15e.png')
%hr/


%p
  %a(href='class06#lab')
    Class06 Lab
