%h2 Class06 Lab Answer:
%h2 Step through loops in cnj13.html with debugger in browser

%p The main idea here is to set the breakpoints inside the loops.

%p When I develop JavaScript, I often set the breakpoints inside loops:

%img(src='/class06/cnj13c.png')
%hr/

%p
  %a(href='class06#lab')
    Class06 Lab
