%h1 Class10
%h2 Dan's Final Project
%ul
  %li TensorFlow
  %li One Hot Encoding
  %li Accuracy Sum
  %li Effectiveness Sum
  %li github url:
  %li
    %a(href='https://github.com/danbikle/tf10' target='x')
      https://github.com/danbikle/tf10

%h2 Questions:
%ul
  %li What is TensorFlow?
  %li What is One Hot Encoding
  %li What is Correlation?
  %li What is Accuracy Sum?
  %li What is Effectiveness Sum?


%h2 Project:
%ul
  %li Shell script:
  %li
    .syntax
      %pre
        =render 'class10a'

  %li Machine Learning script:
  %li
    .syntax
      %pre
        =render 'class10b'


