%h2 Class02 Lab Answer:
%h2 Learn how to place a file in a git repo

%p This is an easy lab.

%p I used this syntax:

.syntax
  %pre
    =render 'class02git12a'

%p
  %a(href='class02#lab')
    Class02 Lab
