%h1 Class08
%h2 Topics:
%ul
  %li Visualization of Predictions

%h2 Questions:
%ul
  %li What is a Prediction?
  %li What types of Predictions will I see?
  %li When will I want to see Predictions?
  %li What is an Accurate Prediction?
  %li What is an Effective Prediction?
  %li What is a Long-only Prediction?
  %li What is Long-only Accuracy?
  %li What is Long-only Effectiveness?
  %li What is the classical way to report Accuracy?
  %li How to report Effectiveness?
  %li How to visualize Accuracy?
  %li How to visualize Effectiveness?
  %li What is the Blue-Green Visualization?
  %li What rules does the Green line follow?
  %li What is the history of the  ROC curve?
  %li In English, how to describe ROC curve?
  
%h2#lab Lab:
%ul
  %li Download allpredictions.csv
  %li
    %a(href='/cclasses/class08dl') Answer
  %li Load allpredictions.csv into Pandas DataFrame: allpredictions_df
  %li
    %a(href='/cclasses/class08df0') Answer
  %li Copy columns: cdate, cp, prob_lr into DataFrame: datepp_df
  %li
    %a(href='/cclasses/class08df2') Answer
  %li Use NumPy to compute pctlead for each cp.
  %li
    %a(href='/cclasses/class08df4') Answer
  %li Create DataFrame column named accuracy and fill it.
  %li
    %a(href='/cclasses/class08df6') Answer
  %li Create DataFrame column named effectiveness and fill it.
  %li
    %a(href='/cclasses/class08df8') Answer
  %li Create DataFrame column named longonly_accuracy and fill it.
  %li
    %a(href='/cclasses/class08lo1') Answer
  %li Create DataFrame column named longonly_effectiveness and fill it.
  %li
    %a(href='/cclasses/class08lo4') Answer
  %li For 2016, report on aggregated Accuracy
  %li
    %a(href='/cclasses/class08aa0') Answer
  %li For 2016, report on aggregated Effectiveness
  %li
    %a(href='/cclasses/class08ae0') Answer
  %li For 2016, Use a stacked bar-chart to visualize Accuracy
  %li
    %a(href='/cclasses/class08sb0') Answer
  %li For 2016, Visualize Long-Only Effectiveness with a Time-Series Plot
  %li
    %a(href='/cclasses/class08ts0') Answer
  
  %li For 2016, Visualize Logistic Regression Effectiveness with a Time-Series Plot
  %li
    %a(href='/cclasses/class08ts2') Answer
  %li For 2016, Build Blue-Green Visualization for Logistic Regression
  %li
    %a(href='/cclasses/class08ts4') Answer 1
  %li
    %a(href='/cclasses/class08ts10') Answer 2
  %li For 2016, Use a stacked bar-chart to visualize Accuracy with JavaScript
  %li For 2016, Use a stacked bar-chart to visualize Accuracy with R
  %li For 2016, Build Blue-Green Visualization for Logistic Regression with JavaScript
  %li For 2016, Build Blue-Green Visualization for Logistic Regression with R
  %li For all years, Build Blue-Green Visualization for Logistic Regression
  %li For all years, Build Blue-Green Visualization for Logistic Regression with JavaScript
  %li For all years, Build Blue-Green Visualization for Logistic Regression with R
  %li Build a model which overfits and then build prediction visualizations which show the overfitting
  %li
    %a(href='/cclasses/class08of') Answer

  %li For 2016, report on aggregated Accuracy using SQL against allpredictions.csv
  %li
    %a(href='/cclasses/class08sqla') Answer
  %li For 2016, report on aggregated Effectiveness using SQL against allpredictions.csv
  %li
    %a(href='/cclasses/class08sqle') Answer
