%h2 Class09 Lab Answer:
%h2 Create Ubuntu 16.04 Droplet

%p This was easy.

%p A Droplet is a virtual host with an IP-address.

%p I clicked on the Create-Droplet button and picked all the defaults:

%hr/
%img(src='/class09/do04.png')
%hr/
%img(src='/class09/do05.png')
%hr/
%img(src='/class09/do06.png')
%hr/
%p Digital Ocean booted my new droplet in 25 seconds:
%hr/
%img(src='/class09/do10.png')
%hr/

%p
  %a(href='class09#lab')
    Class09 Lab
