%h2 Class07 Lab Answer:
%h2 Step through JavaScript in the page

%p This is easy just right click and remember labs from last week.

%img(src='/class07/js0.png')
%p
  %a(href='class07#lab')
    Class07 Lab
