%h2 Class06 Lab Answer:
%h2 git clone ConvNetJS repo into ~/c6 folder

%p This was easy:

.syntax
  %pre
    %code.bash
      cd ~/c6
      git clone https://github.com/karpathy/convnetjs
%p
  %a(href='class06#lab')
    Class06 Lab
