%h2 Class08 Lab Answer:
%h2 Use NumPy to compute pct-lead for each cp

%p This lab requires some knowledge about:
%ul
  %li Copying data between Pandas and NumPy
  %li NumPy Array concatenation
  %li NumPy Array indexing
  %li NumPy Arithmetic
  %li DataFrame copy() method
  %li Adding a column to a DataFrame

%p If you don't have the above knowledge, this lab will teach you.

.syntax
  %pre
    =render 'class08df5'

%p
  %a(href='class08#lab')
    Class08 Lab
