%h1 Class03
%h2 Topics:
%ul
  %li Vectors
  %li NumPy
  %li Pandas
  %li SQL

%h2 Questions:
%ul
  %li What is a Vector?
  %li In Python how to implement a Vector?
  %li Can a Vector contain a mix of numbers and strings?
  %li What is a Scalar?
  %li What is a Tensor?
  %li What is NumPy?
  %li How to install NumPy?
  %li What types of NumPy objects are useful?
  %li What types of NumPy methods are useful?
  %li Why use NumPy?
  %li What is Pandas?
  %li How to install Pandas?
  %li What types of Pandas objects are useful?
  %li What types of Pandas methods are useful?
  %li Why use Pandas?
  %li What is SQL?
  %li How to install SQL?
  %li What types of SQL objects are useful?
  %li What types of SQL methods are useful?
  %li Why use SQL?
  %li How to use NumPy, Pandas, or SQL to interact with a time series?

%h2 Lab:
%ul
  %li Draw a visualization of a Vector.
  %li Use Python to implement a Vector.
  %li Write a Python script which does nothing if NumPy is installed.
  %li Write a Python script which uses scikit-learn to fit a line to 3 points.
  %li
    %a(href='/cclasses/class03fit3') Answer
  %li Write a Python script which does nothing if Pandas is installed.
  %li Find syntax in spy611.com which created allpredictions.csv
  %li Write a Python script which uses Pandas to read allpredictions.csv
  %li
    %a(href='/cclasses/class03pd1') Answer
    %li Write a Python script which creates a scatter-plot from 2016 data in allpredictions.csv 
  %li Write a script which loads allpredictions.csv into a Sqlite table.
  %li Write a script which loads allpredictions.csv into a Postgres table.


