%h2 Class02 Lab Answer:
%h2 Install this ova file into your Virtualbox:

%p
  %a(href='https://drive.google.com/open?id=0Bx3iDDAtxxI4Mk0wNWc5SHdBT0U' target='x') ub14jan.ova

%p
  If I am on a Mac, this is an easy lab.  I just download software from this URL:
%p
  %a(href='https://www.virtualbox.org/wiki/Downloads' target='x')
    https://www.virtualbox.org/wiki/Downloads
%p Then I just click on the downloaded file and follow the directions.
%p
  After I install VirtualBox, I download
  %a(href='https://drive.google.com/open?id=0Bx3iDDAtxxI4Mk0wNWc5SHdBT0U' target='x') ub14jan.ova
  into ~/Downloads.

%p Then I click on the OVA file after the download.

%p Mac should import the file into VirtualBox for me.

%p After the import, I should have a virtualbox instance (a guest) in my VirtualBox GUI:

%img(src='/class02/class02vbox10a.png')

%p I should click on the start-arrow in the GUI to start the guest-Linux.

%p The guest should boot smoothly.

%p If not, I will probably need to tinker with the Network settings.

%p Here is what the network settings look like in the GUI:

%img(src='/class02/class02vbox10b.png')

%p When I tinker with networking, usually the first thing I try is to disable Adapter 2,3,4.
%p Another easy control to play with is the select-option-field called 'Name'.
%p
  In the above image, Name-field contains value: enp59s0, which is okay on my host-laptop
  but probably wrong on your laptop.

%p After getting networking right and then clicking the start-arrow, I should eventually see this screen:
  
%img(src='/class02/class02vbox10c.png')

%p The ann account has the password set to 'a':

%img(src='/class02/class02vbox10d.png')

%p The above screen is a good sign; it is the desktop of the guest-Linux.

%p It offers a variety of apps on the left side which you can click on.

%p
  %a(href='class02#lab')
    Class02 Lab
