%h2 Class07 Lab Answer:
%h2 Enhance d1d2 so it serves a histogram

%p It turns out that wget did not get all the files.

%p Also I added .html to the names of two of the files:

.syntax
  %pre
    %code.bash
      cd ~/d1d2/
      /usr/bin/curl www.d1d2.us/csv/GSPC2.csv > csv/GSPC2.csv
      mv blog    blog.html
      mv contact contact.html
%hr/
%img(src='/class07/http4.png')
%p
  %a(href='class07#lab')
    Class07 Lab
