%h2 Class03 Homework Questions

%ul
  %li
What does it mean to 'scale' a vector?
What does it mean to 'shape' a NumPy Array?
Why might I want to 'shape' a NumPy Array?
How to use NumPy to find median of this list: [0,1,7,3.3,-1,11.8] ?
Why might I want to find median of a list?
How to find the correlation of two lists?
Why might I want to find correlation of two lists?
In Math, what is the inverse of a matrix?
Why might I want to find the inverse of a matrix?
What is the pseudo-inverse of a matrix?
Why might I want to find the pseudo-inverse of a matrix?
In Pandas how to add a Series to a DataFrame?
Why might I want to add a Series to a DataFrame?
In Pandas how to get a Series from a DataFrame?
Why might I want to get a Series from a DataFrame?
In Pandas how to get rows 33 through 44 of a DataFrame?
How to transform a Series of numbers into a Series of Booleans?
Why might I want a Series of Booleans?
How is SQL similar to Pandas?
How is SQL different Pandas?
In Machine Learning, how is Linear Regression different than Logistic Regression?
Why might I use Logistic Regression instead of Linear Regression?
How to describe Linear Regression with a diagram?
In Linear Regression, can X be one dimensional?
In Linear Regression, can X be ten dimensional?
In Linear Regression, can Y be one dimensional?
In Linear Regression, can Y be ten dimensional?
What should be the first line of a Bash script?
If I have 10 predictions and 7 are True, what is their accuracy?
In Python, why might I use the 'requests' package?
In Pandas, can pd.read_csv() get a file from a website?
What is a scatter plot?
Why might I use a scatter plot?
Why might I load a CSV file into SQLite?
Why might I load a CSV file into Postgres?
Which is better SQLite or Postgres? Why?
When I sum GSPC-pctlead Over 30 Years and groupby Month, what kind of ML feature does that expose?
