%h2 Class06 Lab Answer:
%h2 Step through JavaScript in cnj12.html with debugger in browser

%p Notice that I set a breakpoint in my Firefox browser:

%img(src='/class06/cnj12g.png')
%hr/

%p Next, reloaded the page.

%p I saw this:

%img(src='/class06/cnj12j.png')

%p Next, I asked debugger a question, 'What is in ima_s?'

%p I do this by hovering my mouse over the ima_s variable.

%p
  %a(href='class06#lab')
    Class06 Lab
