%h1 Class08
%h2 Topics:
%ul
  %li Serve Visualizatons to the Web

%h2 Questions:
%ul
  %li What is rails?
  %li What is django?
  %li What is nodejs?
  %li What is heroku?
  %li What is meteor?
  
%h2#lab Lab:
%ul
  %li Install Ruby 2.3.1
  %li Install Latest copy of Rails
  %li Install Django
  %li Install Node.js
  %li Install heroku
  %li Install meteor
