%h2 Class06 Lab Answer:
%h2 'Inspect' cnj11.html with your browser.

%p Again, I right click on the whitespace.

%p Next, I interact with it until I see something like this:

%img(src='/class06/cnj11d.png')
%hr/

%p The above image is from Firefox.

%p With Chrome, I interact with it until I see something like this:

%img(src='/class06/cnj11e.png')

%p Q: When I inspect HTML and JavaScript with my browser, should I use Firefox or Chrome?

%p A: Frequently, I use both.  Eventually I gain a sense for the strengths/weaknesses of each.

%p
  For example if the code is very 'wide', then I use Firefox because it displays the code on the bottom
  and uses the full width of the window.

%p Also Firefox offers a more readable font.

%p
  When I want to step through code with the debugger, sometimes I
  prefer Chrome because it is less likely to move my breakpoints after I set them.

%p
  %a(href='class06#lab')
    Class06 Lab
