%h2 Class09 Lab Answer:
%h2 Initialize a Node.js App: node09

%p We saw how to do this in class07.

.syntax
  %pre
    %code.bash
      cd ~ann
      mkdir node09
      cd    node09
      npm init
      npm install engines     --save
      npm install http-server --save
      echo node_modules >> .gitignore
      git init
      git add .
      git commit -am hello-node9

%p
  %a(href='class09#lab')
    Class09 Lab
