%h1 Class04
%h2 Topics:
%ul
  %li Machine Learning
  %li Python scikit-learn
  %li Naive Bayes
  %li Linear Regression
  %li Logistic Regression
  %li SVM
  %li GBRT
  %li Neural Networks

%h2 Questions:
%ul
  %li How to describe Machine Learning?
  %li How to describe Machine Learning as a black box?
  %li How to describe Machine Learning as error minimization?
  %li How to compare Classification to Regression?
  %li What is a Training Set?
  %li What is a Test Set?
  %li What is Validation?
  %li What is In-Sample data?
  %li What is Out-of-Sample data?
  %li What is Accuracy?
  %li What is Effectiveness?
  %li What is a Confusion Matrix?
  %li What is Python scikit-learn?
  %li How to install scikit-learn?
  %li How to write simple Machine Learning script?
  %li How to describe a Machine Learning application?
  %li How to describe Naive Bayes with English?
  %li How to describe Linear Regression with English?
  %li How to describe Logistic Regression with English?
  %li How to describe SVM with English?
  %li How to describe GBRT with English?
  %li How to describe Neural Networks with English?

%h2#lab Lab:
%ul
  %li By hand draw a scatter plot.
  %li By hand fit a line to the scatter plot.
  %li By hand draw a visualization of a prediction calculation from the line and scatter plot.
  %li Install scikit-learn into Anaconda Python.
  %li
    %a(href='/cclasses/class04install_skl') Answer  
  %li Write a script which demonstrates that scikit-learn is installed.
  %li
    %a(href='/cclasses/class04sklearn_is_installed') Answer
  %li Write a script which demonstrates Naive Bayes.
  %li
    %a(href='/cclasses/class04naive_bayes') Answer
  %li Write a script which demonstrates Linear Regression.
  %li
    %a(href='/cclasses/class04linear_regression') Answer
  %li Write a script which demonstrates Logistic Regression.
  %li
    %a(href='/cclasses/class04logistic_regression') Answer
  %li Write a script which demonstrates SVM.
  %li
    %a(href='/cclasses/class04svm1') Answer
  %li Write a script which demonstrates GBRT.
  %li
    %a(href='/cclasses/class04gbrt') Answer
  %li Write a script which demonstrates Neural Networks.
  %li
    %a(href='/cclasses/class04tf1') Answer




