%h2 Class08 Lab Answer:
%h2 For 2016, Use a stacked bar-chart to visualize Accuracy

%p Here I use a stacked bar-chart to visualize Accuracy.

%p I should use red to display False predictions.

%p The chart tells me that Logistic Regression performed poorly in 2016.

.syntax
  %pre
    =render 'class08sb1'

%hr/
%img(src='/class08/sb1.png')
%hr/

%p
  %a(href='class08#lab')
    Class08 Lab
