%h2 Class06 Lab Answer:
%h2 copy D3.js file into ~/c6 folder

%p This was easy:

.syntax
  %pre
    %code.bash
      cd ~/c6
      \/usr/bin/curl https://d3js.org/d3.v4.js > d3.v4.js
%p
  %a(href='class06#lab')
    Class06 Lab
