%h2 Class06 Lab Answer:
%h2 Step through a function while it is being called

%p The main idea here is to set a breakpoint inside the function.

%img(src='/class06/cnj14d.png')
%hr/

%p Another way to do it is to 'step-in' to a function:

%img(src='/class06/cnj14e.png')
%hr/

%p
  %a(href='class06#lab')
    Class06 Lab
