%h1 Class08
%h2 Topics:
%ul
  %li Visualization of Predictions

%h2 Questions:
%ul
  %li What is a Prediction?
  %li What types of Predictions will I see?
  %li When will I want to see Predictions?
  %li What is an Accurate Prediction?
  %li What is an Effective Prediction?
  %li What is a Long-only Prediction?
  %li What is Long-only Accuracy?
  %li What is Long-only Effectiveness?
  %li What is LR Accuracy?
  %li What is LR Effectiveness?
  %li What is the classical way to report Accuracy?
  %li How to report Effectiveness?
  %li How to visualize Accuracy?
  %li How to visualize Effectiveness?
  %li What is the Blue-Green Visualization?
  %li What rules does the Green line follow?
  %li What is the history of the  ROC curve?
  %li In English, how to describe ROC curve?
  
%h2#lab Lab:
%ul
  %li Download allpredictions.csv
  %li
    %a(href='/cclasses/class08dl') Answer
  %li Load allpredictions.csv into Pandas DataFrame: allpredictions_df
  %li
    %a(href='/cclasses/class08df0') Answer
  %li Copy columns: cdate, cp, prob_lr into DataFrame: datepp_df
  %li
    %a(href='/cclasses/class08df2') Answer
  %li Use NumPy to compute pct-lead for each cp.
  %li
    %a(href='/cclasses/class08df4') Answer

  