%h2 Class02 Lab Answer:
%h2 Learn how to edit files on EC2

%p This is an easy lab.

%p I learned how to edit files on EC2 by learning an editor called vi.
%p I can find many good tutorials about vi.

%p
  %a(href='https://www.google.com/search?q=vi+tutorials+site:youtube.com' target='x')
    https://www.google.com/search?q=vi+tutorials+site:youtube.com

%p Also I can find many good tutorials about vim which is almost identical to vi:

%p
  %a(href='https://www.google.com/search?q=vim+tutorials+site:youtube.com' target='x')
    https://www.google.com/search?q=vim+tutorials+site:youtube.com

%p Both vim and vi are 'terminal' editors; they are designed to run in a terminal.

%p Another popular terminal editor is, 'nano':

%p
  %a(href='https://www.google.com/search?q=nano+tutorials+site:youtube.com' target='x')
    https://www.google.com/search?q=nano+tutorials+site:youtube.com

%p Also it is possible to run Emacs as a terminal editor, but the learning curve is steep:

%p
  %a(href='https://www.google.com/search?q=emacs+in+terminal+tutorials+site:youtube.com' target='x')
    https://www.google.com/search?q=emacs+in+terminal+tutorials+site:youtube.com

%p
  %a(href='class02#lab')
    Class02 Lab
