%h2 Class07 Lab Answer:
%h2 Use wget to copy www.d1d2.us into d1d2

%p This was easy.

%p The wget utility has a -r option which fits this use-case:

%pre
  %code.bash
    cd ~/d1d2
    wget -r www.d1d2.us

%p
  %a(href='class07#lab')
    Class07 Lab
