%h2 Class02 Lab Answer:
%h2 Create an AWS account

%p This is an easy lab.

%p Just get your credit-card and click on this link:
%p
  %a(href='https://aws.amazon.com/console/' target='x')
    https://aws.amazon.com/console/

%p Should I use a lab-PC to create an AWS account?
%p No

%p Should I use my own laptop to create an AWS account?
%p Yes, the connection to AWS should be encrypted.

%p After I create an account, I should login to the AWS console:
%p
  %a(href='https://aws.amazon.com/console/' target='x')
    https://aws.amazon.com/console/

%p I should see something like this:
%img(src='/class02/class02vbox13a.png')

%p The link I should click is 'EC2' in the upper left.

%p I should see something like this:
%img(src='/class02/class02vbox13b.png')
