%h2 Class06 Lab Answer:
%h2 Write an HTML file, cnj12.html, which contains many types of JavaScript objects

%p For this lab I use my editor to type syntax into ~/c6/cnj12.html

%p The cnj12.html file looks like this:

.syntax
  %pre
    =render 'class06cnj12b'

%p
  %a(href='class06#lab')
    Class06 Lab
