%h2 Class03 Lab Answer:
%h2 Write a script which loads allpredictions.csv into a Sqlite table

%p I start by creating the file listed below:

.syntax
  %pre
    =render 'class03lite11'

%p Next I should get a list of all the column names copied into a sql script:

