%h1 Class10
%h2 Dan's Final Project [2016 Nov]

%p The purpose of this project is to install TensorFlow with GPU support on an Ubuntu 16 Host.

%p I started by buying a windows laptop with a GPU in it.
