%h2 Class09 Lab Answer:
%h2 Install Django App: herokuspy

%p It is easy to install herokuspy.

%p Inside the ann account, I used the syntax below:

.syntax
  %pre
    =render 'class09dj3'

%p I ran the above shell commands on my laptop.
%p Now I have herokuspy.

%p herokuspy was listening at the URL listed below:

%p http://localhost:5000 


%p
  %a(href='class09#lab')
    Class09 Lab
