%h2 Class06 Lab Answer:
%h2 Set a breakpoint in cnj12.html with your browser

%p A breakpoint is a point in the JavaScript code where I want JavaScript to pause.

%p Then, JavaScript wants me to ask it questions or send it commands.

%p It is easy to set a breakpoint; I just click on a number left of the code.

%p Notice below that I clicked on number 9:

%img(src='/class06/cnj12g.png')
%hr/

%p The above image is from Firefox.

%p With Chrome, I see this:

%img(src='/class06/cnj12h.png')

%p
  %a(href='class06#lab')
    Class06 Lab
