%h2 Answers:
%ul
  %li What are Histograms?
  %li A histogram is an visualization which I use to tell me how often a type of observation happens.
      For example, in June how many days are sunny vs cloudy?

  %li What are Scatter Plots?
  %li A Scatter Plot is a visualization which I use to tell me the relationship between two variables which make up observations.
      Generally a Scatter Plot has an X-Axis and Y-Axis.
      My hope is that Y depends on X.
      If day 1 is cloudy I could maybe put that on X-axis?
      Then I might see if day 2 depends on day 1.


