%h2 Class02 Lab Answer:
%h2 Learn how to push a git repo to github.com

%p This is an easy lab.

%p I started by creating an e-mail account at outlook.com

%p With that e-mail account I created an account at github.com

%p I logged into github and created a repository called my-scikit-learn

%p I made note of the name: my-scikit-learn

%p Next I used this syntax:

.syntax
  %pre
    =render 'class02git14a'

%p
  %a(href='class02#lab')
    Class02 Lab
