%h2 Class06 Lab Answer:
%h2 Build and deploy a simple ConvNetJS App

%p This is a partial answer.

.syntax
  %pre
    =render 'class06cnj17c'

%p If you want to load the above syntax into your browser, you will find it at this URL:
%p
  %a(href='/class06/cnj23.html') cnj23.html

%p
  %a(href='class06#lab')
    Class06 Lab
