%h2 Class03 Lab Answer:
%h2 With Pandas, Sum GSPC-pctlead Over 30 Years and groupby Day-of-Week.

%p This lab required some knowledge.

%p To do this lab I wrote the script below:

.syntax
  %pre
    =render 'class03pd6'

%p I ran it and saw this

.syntax
  %pre
    =render 'class03pd7'

%img(src='/class03/dow_hist.png')

%p In the past 30 years, Monday and Tuesday (near market close) were good days to buy.
%p
  %a(href='class03#lab')
    Class03 Lab

