%h2 Class04 Lab Answer:
%h2 Write a script which demonstrates SVM.

%p I start by creating the script listed below:

.syntax
  %pre
    =render 'class04svm1a'

%p Next, I ran it:

.syntax
  %pre
    =render 'class04svm1b'

%p
  %a(href='class04#lab')
    Class04 Lab
