%h1 Class01
%h2 Topics:
%ul
  %li Histograms
  %li Scatter Plots
  %li Correlation
  %li Time Series Plots
  %li Time Series Calculations
  %li Linear Regression
  %li Demo App: www.spy611.com

%h2 Questions:
%ul
  %li What are Histograms?
  %li What are Scatter Plots?
  %li What is Correlation?
  %li What is a Time Series Plot?
  %li What are Time Series Calculations?
  %li What is Linear Regression?
  %li How to deploy www.spy611.com to your laptop?
  %li How to deploy www.spy611.com to heroku.com?
  %li How to transform Time Series Calculations into Histograms?
  %li How to transform Time Series Calculations into Scatter Plots?
  %li How are Scatter Plots related to Linear Regression?
  %li What is Logistic Regression?
  %li What is Naive Bayes?
  %li How to calculate accuracy from predictions?
  %li How to calculate effectiveness from predictions?
  %li What is the RGB visualization?
  %li
    %a(href='/cclasses/class01answers') Some Answers


%h2#lab Lab:
%ul
  %li Install Virtualbox to your laptop
  %li Install this ova file into your Virtualbox:
  %li
    %a(href='https://drive.google.com/open?id=0Bx3iDDAtxxI4Mk0wNWc5SHdBT0U' target='x') ub14jan.ova

  %li Install this ova file into your Virtualbox:
  %li
    %a(href='https://drive.google.com/file/d/0Bx3iDDAtxxI4TEZwSkZRYVhpYm8' target='x') ub16may2b.ova

  %li Learn about Virtualbox network settings
  %li Study www.spy611.com/software
  %li Deploy www.spy611.com to your laptop
  %li
    %a(href='/cclasses/class01spy611a') Answer
  %li Deploy www.spy611.com to your heroku account
  %li
    %a(href='/cclasses/class01heroku1') Answer
    
%h2#homework Homework
%p
  %a(href='/cclasses/class01hw1') Questions
  