%h2 Class05 Lab Answer:
%h2 Compare R Linear Regression to Python Linear Regression

%p I wrote a simple R script to do this lab:
.syntax
  %pre
    =render 'class05lm2'

%p After I ran the script, I saw this:
.syntax
  %pre
    =render 'class05lm3'

%p I wrote a simple Python script to do this lab:
.syntax
  %pre
    =render 'class05cmp1'

%p After I ran the Pythonscript, I saw this:
.syntax
  %pre
    =render 'class05cmp2'

%p I see that the predictions from both scripts are almost identical.

%p It appears that I need to write much less R syntax than Python syntax to get the same predictions.

%p
  %a(href='class05#lab')
    Class05 Lab
