%h2 Class07 Lab Answer:
%h2 Find code which builds third histogram.

%p The third histogram has id: d1d2histogram

%p I searched for that id in the JavaScript:

%img(src='/class07/js3.png')
%p
  %a(href='class07#lab')
    Class07 Lab
