%h2 Class08 Lab Answer:
%h2 Create DataFrame column named accuracy and fill it

%p This lab requires some knowledge about:
%ul
  %li Predicate creation with Pandas Series
  %li Definition of Positive Prediction, Negative Prediction.
  %li Definition of True Prediction, False Prediction.
  %li Definition of True Positive, True Negative.
  %li Definition of False Positive, False Negative.
  %li Negation of Pandas Series
  %li Pandas Logic And-Operator
  %li DataFrame copy() method
  %li Filling a column with DataFrame.loc method

%p If you don't have the above knowledge, this lab will teach you.

.syntax
  %pre
    =render 'class08df7'

%p
  %a(href='class08#lab')
    Class08 Lab
