%h2 Class02 Lab Answer:
%h2 Learn what to put in ~/.gitconfig

%p This is an easy lab.

%p I place this syntax in ~/.gitconfig

.syntax
  %pre
    =render 'class02git11a'
    
%p
  %a(href='class02#lab')
    Class02 Lab
