%h2 Class02 Lab Answer:
%h2 Deploy www.spy611.com to your laptop

%p I see two ways to complete this lab:
%ul
  %li
    Follow the steps here:
    %a(href='http://www.spy611.com/software' target='x')
      http://www.spy611.com/software
  %li Or
  %li
    Follow the steps here:
    %ul
      %li cd ~/Downloads
      %li curl https://s3-us-west-2.amazonaws.com/ml4us/ub16aug13c.ova > ub16aug13c.ova
      %li Click on ub16aug13c.ova
      %li Click import
      %li Click resulting instance
      %li Click yellow settings gear
      %li Change the name to something with your name in it
      %li Walk through all the tabs in the settings
      %li Remote desktop should be off
      %li
        Network:
        %ul
          %li Only 1 adapter
          %li I like bridged adapter
          %li Advanced: cable connected
      %li Click start
      %li User: ann Pass: a
      %li Click on terminal

    .syntax
      %pre
        =render 'class01spy611b'
    %li Browse localhost:2106
        
  