%h2 Class06 Lab Answer:
%h2 'Inspect' cnj10.html with your browser

%p This is easy; just right-click the white-space:

%img(src='/class06/class06cnj10c.png')

%p
  %a(href='class06#lab')
    Class06 Lab
