%h2 Class08 Lab Answer:
%h2 For 2016, Build Blue-Green Visualization for Logistic Regression

%p Here I use Matplotlib.

.syntax
  %pre
    =render 'class08ts4'

%hr/
%img(src='/class08/ts5.png')
%hr/

%p
  %a(href='class08#lab')
    Class08 Lab
