%h2 Class07 Lab Answer:
%h2 Transform d1d2 into a Node.js application

%p This was easy.

%p When npm asked me questions, I just pressed the enter-key.

%p After npm finished, I had a new file: ~/d1d2/package.json

.syntax
  %pre
    %code.bash
      cd ~/d1d2
      npm init

%p
  %a(href='class07#lab')
    Class07 Lab
