%h2 Class06 Lab Answer:
%h2 Create a file, js2.js, which creates mynumber and mystring

%p This was easy:

.syntax
  %pre
    %code.bash
      cd ~/c6
      echo 'var urnumber = 22.1'     > js2.js
      echo 'var urstring = "salad"' >> js2.js
%p
  %a(href='class06#lab')
    Class06 Lab
