%h2 Class07 Lab Answer:
%h2 Add color to Day-of-Week Dimension

%p I created and ran a script which looks like this:
.syntax
  %pre
    =render 'class07bk19'

%p It gave me a scatter-plot:

%img(src='/class07/bk20.png')

%p
  %a(href='class07#bokeh')
    Class07 Lab
