%h2 Class08 Lab Answer:
%h2 For 2016, Visualize Logistic Regression Effectiveness with a Time-Series Plot

%p Here I use Matplotlib.

.syntax
  %pre
    =render 'class08ts3'

%hr/
%img(src='/class08/ts3.png')
%hr/

%p
  %a(href='class08#lab')
    Class08 Lab
