%h2 Class07 Lab Answer:
%h2 On Ubuntu, install Node.js into ~/node/

%p The idea here is to download a tar file and un-tar it.

%p I did exactly that and then I enhanced my .bashrc file so node was in my PATH:

.syntax
  %pre
    = render 'class07node1'

%p
  %a(href='class07#lab')
    Class07 Lab
