%h1 Class05
%h2 Topics:
%ul
  %li The R Language

%h2 Questions:
%ul
  %li How to install R on Ubuntu?
  %li How to install an R package?
  %li With R, how to get CSV data from URL?
  %li In R, how to slice columns and rows in a list?
  %li Is a list in R similar to a list in Python?
  %li In R, how to train   using Linear Regression?
  %li In R, how to predict using Linear Regression?


%h2#lab Lab:
%ul
  %li Install R on Ubuntu (or your laptop).
  %li
    %a(href='/cclasses/class05ins1') Answer
  %li Install package ISLR from CRAN.
  %li
    %a(href='/cclasses/class05ins2') Answer
  %li Copy http://www.spy611.com/csv/allpredictions.csv into a list.
  %li
    %a(href='/cclasses/class05csv1') Answer
  %li Copy some rows and some columns from allpredictions.csv into a list.
  %li
    %a(href='/cclasses/class05csv2') Answer
  %li Use Linear Regression to train and predict from allpredictions.csv
  %li
    %a(href='/cclasses/class05lm1') Answer