%h2 Class06 Lab Answer:
%h2 Create a file, js1.js, which creates mynumber and mystring

%p This was easy:

.syntax
  %pre
    %code.bash
      cd ~/c6
      echo 'var mynumber = 11.1'     > js1.js
      echo 'var mystring = "pizza"' >> js1.js
%p
  %a(href='class06#lab')
    Class06 Lab
