%h1 Class07
%h2 Topics:
%ul
  %li Learn From Features

%h2 Questions:
%ul
  %li What is a Feature?
  %li How does the Machine Learn From Features? 
  %li What makes a good Feature?
  %li What makes a bad Feature?
  %li Is a good Linear Regression Feature also a good Logistic Regression Feature?
  %li How to visualize Features?
  %li How to synthesize a Feature?
  %li What is an optimal number of Features in a model?
  %li What happens if I have too few  Features?
  %li What happens if I have too many Features?
  %li Is it bad if Feature1 depends on Feature2?
  %li You know of a situation where Feature1 depends on Feature2?
  %li What is Node.js?
  %li How to install Node.js on Linux?
  %li What is npm?
  %li What is package.json?
  %li What is node_modules?
  %li How to power a web server with Node.js?
  %li What phrase would you use to describe the www.d1d2.us visualization?
  
%h2#lab Lab (www.d1d2.us):
%ul
  %li On Ubuntu, install Node.js into ~/node/
  %li
    %a(href='/cclasses/class07node0') Answer
  %li Create a folder called d1d2.
  %li
    %a(href='/cclasses/class07mkdir') Answer
  %li Transform d1d2 into a Node.js application. 
  %li
    %a(href='/cclasses/class07app0') Answer
  %li Install engines package with --save option
  %li
    %a(href='/cclasses/class07eng0') Answer
  %li Install http-server package with --save option
  %li
    %a(href='/cclasses/class07http0') Answer
  %li Start http-server.
  %li
    %a(href='/cclasses/class07http1') Answer
  %li Hit the server with your browser.
  %li
    %a(href='/cclasses/class07http2') Answer
  %li Use wget to copy www.d1d2.us into d1d2.
  %li
    %a(href='/cclasses/class07wget0') Answer
  %li Hit the server with your browser.
  %li
    %a(href='/cclasses/class07http3') Answer
  %li Enhance d1d2 so it serves a histogram.
  %li
    %a(href='/cclasses/class07http4') Answer
  %li Step through JavaScript in the page.
  %li
    %a(href='/cclasses/class07js0') Answer
  %li Find code which builds first histogram.
  %li
    %a(href='/cclasses/class07js1') Answer
  %li Find code which builds second histogram.
  %li
    %a(href='/cclasses/class07js2') Answer
  %li Find code which builds third histogram.
  %li
    %a(href='/cclasses/class07js3') Answer

%h2#bokeh Lab (Bokeh):
%ul
  %li Locate the Horsepower vs MPG Bokeh demo.
  %li
    %a(href='/cclasses/class07bk10') Answer
  %li Run the demo.
  %li
    %a(href='/cclasses/class07bk11') Answer
  %li Generate pctlead, Day-of-Week, Month-of-Year features from GSPC data.
  %li
    %a(href='/cclasses/class07bk13') Answer
  %li Scatter-plot pctlead vs Month for a specific year
  %li
    %a(href='/cclasses/class07bk15') Answer
  %li Add color to Day-of-Week Dimension
  %li
    %a(href='/cclasses/class07bk18') Answer
