%h2 Class05 Lab Answer:
%h2 Build a Data Frame from CSV at a URL

%p I did this lab from the command-line.
%p This is an easy lab.

%p I started the R command-line and copied lines of syntax from script with my mouse:
.syntax
  %pre
    =render 'class05df2'

%p I saw this:
.syntax
  %pre
    =render 'class05df3'
    
%p
  %a(href='class05#lab')
    Class05 Lab
