%h2 Class02 Lab Answer:
%h2 Learn how to edit files on EC2

%p This is an easy lab.

%p I learned how to edit files on EC2 by learning an editor called vi.
%p I can find many good tutorials about vi.

%p
  %a(href='https://www.google.com/search?q=vi+tutorials+site:youtube.com' target='x')
    https://www.google.com/search?q=vi+tutorials+site:youtube.com
  
%p
  %a(href='class02#lab')
    Class02 Lab
