%h1 Class09
%h2 Topics:
%ul
  %li Serve Visualizatons to the Web

%h2 Questions:
%ul

  %li Why create an ssh-key?
  %li How to create an ssh-key?
  %li How to use an ssh-key?

  %li What is DigitalOcean?
  %li Why use DigitalOcean?
  %li How to use DigitalOcean?

  %li What is Heroku?
  %li Why use Heroku?
  %li How to use Heroku?
  %li How to deploy a Heroku App?

  %li What is Godaddy?
  %li Why use Godaddy?
  %li How to use Godaddy with DigitalOcean?
  %li How to use Godaddy with Heroku?

  %li What is Rails?
  %li Why use Rails?
  %li How to use Rails?
  %li How to deploy a Rails App to DigitalOcean?
  %li How to deploy a Rails App to Heroku?

  %li What is Django?
  %li Why use Django?
  %li How to use Django?
  %li How to deploy a Django App to DigitalOcean?
  %li How to deploy a Django App to Heroku?

  %li What is Node.Js?
  %li Why use Node.Js?
  %li How to use Node.Js?
  %li How to deploy a Node.Js App to DigitalOcean?
  %li How to deploy a Node.Js App to Heroku?

  %li What is Meteor?
  %li Why use Meteor?
  %li How to use Meteor?
  %li How to deploy a Meteor App to DigitalOcean?
  %li How to deploy a Meteor App to Heroku?

%h2#lab Lab:
%ul
  %li Create ssh-key-pair
  %li
    %a(href='/cclasses/class09ssh1') Answer
  %li Setup an account on DigitalOcean.com (easily done with credit card).
  %li Create Ubuntu 16.04 Droplet
  %li
    %a(href='/cclasses/class09do10') Answer
  %li Login to Droplet as root
  %li
    %a(href='/cclasses/class09do11') Answer
  %li Install Ruby 2.3.1
  %li Install Latest copy of Rails
  %li Install Django
  %li Install Node.js
  %li Install heroku
  %li Install meteor
