%h1 Class10
%h2 Dan's Final Project [2016 Aug]
%ul
  %li TensorFlow
  %li One Hot Encoding
  %li Accuracy Sum
  %li Effectiveness Sum
  %li github url:
  %li
    %a(href='https://github.com/danbikle/tf10' target='x')
      https://github.com/danbikle/tf10

%h2 Questions:
%ul
  %li What is TensorFlow?
  %li What is One Hot Encoding
  %li What is Correlation?
  %li What is Accuracy Sum?
  %li What is Effectiveness Sum?


%h2 Project:

%p I started this project with a fresh install of Anaconda Python:

.syntax
  %pre
    %code.bash
      cd ~
      wget https://repo.continuum.io/archive/Anaconda3-4.2.0-Linux-x86_64.sh
      bash Anaconda3-4.2.0-Linux-x86_64.sh
      echo 'export PATH="${HOME}/anaconda3/bin:$PATH"' >> ~/.bashrc
      mv ~/anaconda3/bin/curl ~/anaconda3/bin/curl_ana
      bash
%p Next, I installed version 0.10.0 of TensorFlow.
%p I tried this lab with version 0.11 and it failed.
%p So, I installed version 0.10.0 of TensorFlow:

.syntax
  %pre
    %code.bash conda install -c conda-forge tensorflow=0.10.0
    
%ul
  %li Then I wrote a Shell script:
  %li
    .syntax
      %pre
        =render 'class10a'

  %li Machine Learning script:
  %li
    .syntax
      %pre
        =render 'class10b'

  %li Results:
  %li
    .syntax
      %pre
        =render 'class10c'

  %li Shell script:
  %li
    .syntax
      %pre
        =render 'class10d'

  %li Machine Learning script:
  %li
    .syntax
      %pre
        =render 'class10e'

  %li Results:
  %li
    .syntax
      %pre
        =render 'class10f'


