%h2 Class08 Lab Answer:
%h2 Download allpredictions.csv

%p This was easy.

.syntax
  %pre
    %code.bash
      mkdir -p ~/Downloads
      cd       ~/Downloads
      rm -f allpredictions.csv
      wget http://www.spy611.com/csv/allpredictions.csv
      head  allpredictions.csv
      tail  allpredictions.csv

%p
  %a(href='class08#lab')
    Class08 Lab
