%h2 Class02 Lab Answer:
%h2 Install Virtualbox to your laptop

%p
  If I am on a Mac, this is an easy lab.  I just download software from this URL:
%p
  %a(href='https://www.virtualbox.org/wiki/Downloads' target='x')
    https://www.virtualbox.org/wiki/Downloads
%p Then I just click on the downloaded file and follow the directions.
%hr/
%p
  If I am on windows, this might be a difficult lab.  I download software from this URL:
%p
  %a(href='https://www.virtualbox.org/wiki/Downloads' target='x')
    https://www.virtualbox.org/wiki/Downloads
    
%p Then I click on the downloaded file and follow the directions.
%p After installation, VirtualBox should be installed in my Windows-Apps collection.
%p When I click on it, the VirtualBox GUI should appear.

%p
  Two common errors I see on VirtualBox on windows:
  %ul
    %li Windows is configured with Virtualization 'off' (very common problem).
    %li
      VirtualBox is confused by the network card on the laptop.

%p The easiest way to turn on Virtualization is to find a youtube video:
%p
  %a(href='http://www.google.com/search?q=windows+virtualization+bios+uefi+site:youtube.com' target='x')
    http://www.google.com/search?q=windows+virtualization+bios+uefi+site:youtube.com

%p
  %a(href='class02#lab')
    Class02 Lab
