%h2 Class06 Lab Answer:
%h2 Load cnj10.html into your browser

%p This is easy; just start a browser and type in this URL:

.syntax
  %pre
    %code.bash file:///

%p Then, just click on folder links until you load cnj10.html

%p After you load cnj10.html, you should see a blank page.

%p After I did that, I had this URL loaded in the URL field:

.syntax
  %pre
    %code.bash file:///home/ann/c6/cnj10.html

%p
  %a(href='class06#lab')
    Class06 Lab
