%h2 Class09 Lab Answer:
%h2 $10 Credit

%p
  %a(href='https://www.digitalocean.com/?refcode=ce9e757d56ae' target='x')
    https://www.digitalocean.com/?refcode=ce9e757d56ae

%p
  %a(href='class09#lab')
    Class09 Lab
