%h2 Class01 Lab Answer:
%h2 Deploy www.spy611.com to your heroku account

%p I used the checklist below to do this lab:

%ul
  %li I got a yahoo email account.
  %li I used yahoo email account to create heroku.com account.

  %li Then I typed these shell commands:
  %li
    .syntax
      %pre
        =render 'class01her2'

  %li browse spy611x2016.herokuapp.com

%p
  %a(href='class01#lab')
    Class01 Lab
