%h2 Class06 Lab Answer:
%h2 Write an HTML file, cnj11.html, with two lines of HTML and three lines of JavaScript

%p For this lab I use my editor to type syntax into ~/c6/cnj11.html

%p The cnj11.html file looks like this:

.syntax
  %pre
    =render 'class06cnj11b'

%p
  %a(href='class06#lab')
    Class06 Lab
