%h1 Class06
%h2 Topics:
%ul
  %li ConvNetJS

%h2 Questions:
%ul
  %li What is ConvNetJS?
  %li How to install ConvNetJS?
  %li Why use ConvNetJS?
  %li Where to get help with ConvNetJS?
  %li What kind of objects are available in JavaScript?
  %li How to do if-then logic in JavaScript?
  %li How to loop in JavaScript?
  %li How to write a function in JavaScript?
  %li How to share JavaScript between files?
  %li How to write and deploy JavaScript software?
  %li What is D3.js?
  %li Where is information about D3.js API?
  %li Can JavaScript read data from your folders?
  %li Can JavaScript read data from other hosts?
  %li How to read a CSV file with JavaScript?
  %li How to Build and deploy a simple ConvNetJS App?
  
%h2#lab Lab:
%ul
  %li Create a folder in your home folder called c6.
  %li
    %a(href='/cclasses/class06c6') Answer      
  %li In c6, write an HTML file, cnj10.html, with two lines of syntax.
  %li
    %a(href='/cclasses/class06cnj10') Answer      
  %li Load cnj10.html into your browser.
  %li
    %a(href='/cclasses/class06cnj10a') Answer      
  %li 'Inspect' cnj10.html with your browser.
  %li
    %a(href='/cclasses/class06cnj10b') Answer
  %li Write an HTML file, cnj11.html, with four lines of HTML and one line of JavaScript.
  %li
    %a(href='/cclasses/class06cnj11a') Answer
  %li 'Inspect' cnj11.html with your browser.
  %li
    %a(href='/cclasses/class06cnj11c') Answer
  %li Write an HTML file, cnj12.html, which contains many types of JavaScript objects.
  %li
    %a(href='/cclasses/class06cnj12a') Answer
  %li 'Inspect' cnj12.html with your browser.
  %li
    %a(href='/cclasses/class06cnj12c') Answer
  %li Set a breakpoint in cnj12.html with your browser.
  %li
    %a(href='/cclasses/class06cnj12f') Answer  
  %li Step through JavaScript in cnj12.html with debugger in browser.
  %li
    %a(href='/cclasses/class06cnj12i') Answer  
  %li Copy cnj12.html to cnj13.html.
  %li
    %a(href='/cclasses/class06cnj12r') Answer  
  %li Add JavaScript loops to cnj13.html.
  %li
    %a(href='/cclasses/class06cnj13a') Answer  
  %li Step through loops in cnj13.html with debugger in browser.
  %li
    %a(href='/cclasses/class06cnj13d') Answer  
  %li Copy cnj13.html to cnj14.html.
  %li
    %a(href='/cclasses/class06cnj13f') Answer  
  %li Add functions to cnj14.html.
  %li
    %a(href='/cclasses/class06cnj14a') Answer  
  %li Step through a function while it is being called.
  %li
    %a(href='/cclasses/class06cnj14c') Answer  
  %li Create a file, js1.js, which creates mynumber and mystring.
  %li
    %a(href='/cclasses/class06js1a') Answer
  %li Create a file, js2.js, which creates urnumber and urstring.
  %li
    %a(href='/cclasses/class06js2a') Answer
  %li Copy cnj14.html to cnj15.html.
  %li
    %a(href='/cclasses/class06cnj14e') Answer
  %li Enhance cnj15.html so it uses js1.js and js2.js.
  %li
    %a(href='/cclasses/class06cnj15a') Answer
  %li Enhance cnj15.html so it copies mynumber into urnumber.
  %li
    %a(href='/cclasses/class06cnj15c') Answer
  %li git clone ConvNetJS repo into ~/c6 folder.
  %li
    %a(href='/cclasses/class06cnj16a') Answer
  %li copy D3.js file into ~/c6 folder.
  %li
    %a(href='/cclasses/class06cnj16b') Answer
  %li Create  ~/c6/cnj16.html so it loads D3.js files.
  %li Enhance ~/c6/cnj16.html so it loads ConvNetJS files.
  %li
    %a(href='/cclasses/class06cnj16c') Answer
  %li
    Use curl and sed to transform 
    %br/
    http://www.spy611.com/csv/allpredictions.csv
    %br/
    into a JavaScript File with a JavaScript String loaded into cnj16.html:
  %li
    %a(href='/cclasses/class06cnj16f') Answer  
  %li Build and deploy a simple ConvNetJS App.
  %li
    %a(href='/cclasses/class06cnj17a') Partial Answer  
  %li
    %a(href='/cclasses/class06dp1') Deep500 App
  