%h1 Class06
%h2 Topics:
%ul
  %li ConvNetJS

%h2 Questions:
%ul
  %li What is ConvNetJS?
  %li How to install ConvNetJS?
  %li Why use ConvNetJS?
  %li Where to get help with ConvNetJS?
  
%h2#lab Lab:
%ul
  %li Install ConvNetJS on Ubuntu (or your laptop).
  %li Build and deploy a simple ConvNetJS App.

