%h2 Class07 Lab Answer:
%h2 Locate the Horsepower vs MPG Bokeh demo

%p Google:
%p
  %a(href='http://www.google.com/search?q=Horsepower+vs+MPG+Bokeh+demo' target='x')
    http://www.google.com/search?q=Horsepower+vs+MPG+Bokeh+demo
  

%p Good:
%p
  %a(href='http://bokeh.pydata.org/en/latest/docs/user_guide/charts.html#userguide-charts-scatter-color-groups' target='x')
    userguide-charts-scatter-color-groups

%img(src='/class07/bk10.png')

%p
  %a(href='class07#bokeh')
    Class07 Lab
