%h2 Class03 Lab Answer:
%h2 With Pandas, Sum GSPC-pctlead Over 30 Years and groupby Month.

%p This lab required some knowledge.

%p To do this lab I wrote the script below:

.syntax
  %pre
    =render 'class03pd3'

%p I ran it and saw this

.syntax
  %pre
    =render 'class03pd4'

%img(src='/class03/moy_hist.png')

%p In the past 30 years, August was a good month to sell GSPC and December was a good month to buy.
%p
  %a(href='class03#lab')
    Class03 Lab

