%h2 Class09 Lab Problem:
%h2 Debug Python App: pyspy

%p pyspy is here:

%p
  %a(href='https://github.com/danbikle/pyspy' target='x')
    https://github.com/danbikle/pyspy

%p herokuspy gets its data from pyspy.

%p Verify that pyspy is broken.

%p Figure out why it is broken.

%p Fix pyspy on your laptop.

%p Fork pyspy.

%p Fix the fork.

%p Submit a pull request on github to pyspy.

%p
  %a(href='class09#lab')
    Class09 Lab
