%h1 Class02
%h2 Topics:
%ul
  %li AWS
  %li Linux
  %li Git
  %li Heroku

%h2 Questions and Answers:

%ul
  %li Should I assume lab PC will log my keystrokes?
  %li Yes.
  %li Should I use lab PC to access my e-mail?
  %li No.
  %li Should I use lab PC to submit a credit card number?
  %li No.
  %li Should I use lab PC to access my amazon account?
  %li No.
  %li How can I safely connect to Amazon and e-mail from lab?
  %li Bring your laptop or phone (which uses encrypted connections).
  %li Which parts of AWS interest us the most?
  %li EC2, S3
  %li How would you introduce EC2 to a new person?
  %li
    %ul
      %li I would show how to setup an instance.
      %li I would show how to ask EC2 for a PEM key
      %li I would show how to ssh to an existing instance with the PEM key.
      %li
        %hr/

  %li What is a PEM file?
    %ul
      %li I download a PEM file from EC2 web-UI.
      %li I give a simple name like aws1.pem
      %li I put in this folder: ~/.ssh/
      %li
        I use it like this:
	%pre
	  %code ssh -i ~/.ssh/aws1.pem ubuntu@someip
      %li
        %hr/
	

  %li How do I get a PEM file?
  %li Once I have a PEM file where to store it?
  %li Once I have a PEM file how to use it?
  %li Is it possible to deploy a copy www.spy611.com to EC2?
  %li What is S3?
  %li How to get started with S3?
  %li Why use S3?
  %li Can I use a PEM file to access S3?
  %li Linux vs Mac vs Windows, what is the data scientist opinion?
  %li How to get started with Linux?
  %li Which flavor of Linux should I learn first?
  %li How is AWS Linux different than Laptop Linux?
  %li How to get help with Linux?
  %li What is Git?
  %li Why use git?
  %li What are the top 4 git use-cases?
  %li What is Heroku?
  %li Why use Heroku?
