%h2 Class09 Lab Answer:
%h2 Install heroku

%p On Linux it is easy to install heroku.

%p In Linux often I use an account named ann.

.syntax
  %pre
    =render 'class09her2'

%p
  %a(href='class09#lab')
    Class09 Lab
