%h2 Class06 Lab Answer:
%h2 Step through JavaScript in cnj12.html with debugger in browser

%p Notice that I set a breakpoint in my Firefox browser:

%img(src='/class06/cnj12g.png')
%hr/

%p Next, reloaded the page.

%p I saw this:

%img(src='/class06/cnj12j.png')
%hr/

%p Next, I asked debugger a question, 'What is in ima_s?'

%p I do this by hovering my mouse over the ima_s variable:

%img(src='/class06/cnj12k.png')
%hr/

%p I see that the value is "Ima string".

%p Also notice the 'Watch' link in the hover box.

%p That link places ima_s variable on the watch-list:

%img(src='/class06/cnj12q.png')
%hr/

%p This feature exists only in Firefox, not Chrome; I find it useful.

%p Chrome has a watch-list but offers a slower way to add variables.

%p Another way I inspect variables is to click the console tab.

%img(src='/class06/cnj12m.png')
%hr/

%p It is easy to miss the console command line. It is at the bottom:

%img(src='/class06/cnj12n.png')
%hr/

%p This command line offers type-ahead which I find useful when I am studying objects and things connected to them:

%img(src='/class06/cnj12p.png')
%hr/

%p
  %a(href='class06#lab')
    Class06 Lab
