%h2 Class06 Lab Answer:
%h2 'Inspect' cnj12.html with your browser.

%p Again, I right click on the whitespace.

%p Next, I interact with it until I see something like this:

%img(src='/class06/cnj12d.png')
%hr/

%p The above image is from Firefox.

%p With Chrome, I interact with it until I see something like this:

%img(src='/class06/cnj12e.png')

%p
  %a(href='class06#lab')
    Class06 Lab
