%hr
.my-bottom-nav
  %a(href="/")                 tsds4.us
  %a(href="/about")            About
  %a(href="/blog")             Blog
  %a(href="/contact")          Contact
  %a(href="/cclasses/class01") Class01
  %a(href="/cclasses/class02") Class02
  %a(href="/cclasses/class03") Class03

%hr/
%footer
  %p &copy; tsds4.us 1999-3000
